<form action= '/administrador/aerolineaLeer' method="POST">
<br>
<br>
<div  style="font-size:25" pxclass="home_title"><h2 style="color:black">Ingrese el nombre de la Aerolinea</h2>
    <br>
    <br>
    <input name="nombreAmostrar" style="font-size:30px" type="text" id="ingresado" name="ingresado">
    <br>
    <br>
    <button class="btn btn-primary" type="submit"> Mostrar</button>
</div>
</form>