{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
<form action='/administrador/aerolineaCrear' method="POST">
<br>
<br>
<div class="home_title"><h2 style="font-size:40px">Ingrese los datos de la Aerolinea</h2>
        <br>
        <br>
        <label style="color:white ">Nombre
            <br>
            <input type="text" name="nombre" id="nombre">
        </label>
        <br>
        <br>
        <label style="color:white">Lugares(separe los lugares por coma)
            <br>
            <input type="text" style="width:400px" name="lugares" id="lugares">
        </label>
        <br>
        <br>
        <label style="color:white ">Identificador
            <br>
            <input type="text" name="idAerolinea" id="idAerolinea">
        </label>
        <br>
        <br>
        <label style="color:white ">Aeropuerto
            <br>
            <input type="text" name="aeropuerto" id="aeropuerto">
        </label>
        <br>
        <br>
        <button class="btn btn-primary" type="submit"> Crear</button>
        <br>
        <br>
        </div>
    </form>
