<br><br>
<h4>Aerolíneas TEC Plane</h4>
<br><br>
<div class="row">
    <br><br>
    {{#each aerolineas}}
    <div class="col-md-8">
        <div class="aerolinea">
            <div class="cuerpo">
                <h5 class="nombre">
                  Nombre:  {{nombre}}
                </h5>
                <p>idAerolinea: {{idAerolinea}}</p>
                <p>Paises: </p>{{paises}}</p>
                <p>Nombre Aeropuerto: </p>{{nombreAeropuerto}}</p>
                <br><br>
            </div>
        </div>
    </div>
    {{/each}}

</div>
<br><br><br>