<br><br>
{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}

<br>
<br>
<form action="/administrador/funcionarioCrear" method="POST">
    <br><br>
    <div class="home_title" style="font-size:15px"><h2 style="font-size:35px">Ingrese los datos del funcionario</h2>
        <br>
        <label style="color:white ">Cedula
            <br>
            <input type="text"id="cedula"  name="cedula">
        </label>
        <br>

        <label style="color:white ">Nombre Completo
            <br>
            <input type="text" id="nombre" name="nombre">
        </label>
        <br>

        <label style="color:white ">Tipo de funcionario
            <br>
            <select type="text" id="tipo" name="tipo" style="width:180px">
                <option>Administrativo</option>
                <option>Técnico</option>
                <option>Operario</option>
            </select>
        </label>
        <br>

        <label style="color:white ">Fecha de ingreso
            <br>
            <input type="text"id="fechaIngreso"  name="fechaIngreso">
        </label>
        <br>

        <label style="color:white ">Areas de trabajo
            <br>
            <input type="checkbox" id="counter" name="counter" value="counter">Counter<br>
            <input type="checkbox" id="carga"  name="carga" value="carga">Carga<br>
            <input type="checkbox" id="mantenimiento" name="mantenimiento" value="mantenimiento"  >Mantenimiento<br>
            <input type="checkbox" id="abordaje" name="abordaje" value="abordaje" >Abordaje<br>
        </label>
        <br>
        <br>
        <button class="btn btn-primary" type="submit"> Crear</button>
        <br><br>
    </div>
</form>