<br><br>
<h4>Rango de boletos cliente</h4>
<br><br>
<div class="row">
    <br><br>
    
    <div class="col-md-8">
        <div class="aerolinea">
            <div class="cuerpo">
                <h1 class="nombre">
                  Identificacion cliente:  {{ingresado}}
                </h2>
                <h2>El rango de boletos comprados es el siguiente</h2>
                <h2>[{{minimo}} , {{maximo}}]</h2>
                <br><br>
            </div>
        </div>
    </div>
    

</div>
<br><br><br>