<br><br>
<h4>Cantidad de operaciones de compra de boletos en TEC Plane</h4>
<br><br>
<div class="row">
    <br><br>
    {{#each resultado}}
    <div class="col-md-3">
        <div class="cantidad">
            <div class="cuerpo">
                <h5 class="nombre">
                  Cantidad:  {{cantidad}}
                <br><br>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<br><br>