<br><br>
{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
{{#each noEncontrado}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}

<br>
<br>
<form action="/administrador/vueloCrear" method="POST">
    <div class="home_title"><h2 style="font-size:40px">Ingrese los datos del vuelo</h2>
        <br>
        <label style="color:white ">Identificador

            <input type="text" id="id" name="id">
        </label>
        <br><br>

        <label style="color:white ">Nombre

            <input type="text" id="nombre" name="nombre">
        </label>
        <br><br>

        <label style="color:white ">Nombre Aerolínea

            <input type="text" id="nombreAerolinea" name="nombreAerolinea">
        </label>
        <br><br>

        <label style="color:white ">Origen

            <input type="text" id="origen" name="origen">
        </label>
        <br><br>

        <label style="color:white ">Destino   

            <input type="text" id="destino"name="destino">
        </label>
        <br><br>

        <label style="color:white ">Fecha ida

            <input type="date" id="ida" name="ida">
        </label>
        <br>
<br>
        <label style="color:white ">Fecha vuelta

            <input type="date" id="vuelta" name="vuelta">
        </label>
        <br><br>

        <label style="color:white ">Precio

            <input type="text" id="precio" name="precio">
        </label>
        <br><br>

        <label style="color:white ">Restricciones (separe las restricciones por coma)

            <input type="text" id="restricciones" name="restricciones">
        </label>
        <br><br>

        <label style="color:white ">Servicios del vuelo (separe los servicios por coma)

            <input type="text" id="servicios" name="servicios">
        </label>
        <br><br>


        <label style="color:white ">Máximo

            <input type="text" id="maximo" name="maximo">
        </label>
        <br><br>

        <button class="btn btn-primary" type="submit"> Crear Vuelo</button>
</div>
</form>