{{#each sinNombre}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}

{{#each noEncontrado}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}

{{#each noIngresado}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
<form action="/administrador/vueloActualizar" method="POST">
    <div class="home_title"><h2 style="font-size:40px">Ingrese los datos del vuelo actualizados</h2>
        <br>
        <label style="color:white ">Nombre

            <input type="text" id="nombre" name="nombre">
        </label>
        <br><br>

        <label style="color:white ">Origen

            <input type="text" id="origen" name="origen">
        </label>
        <br><br>

        <label style="color:white ">Destino   

            <input type="text" id="destino" name="destino">
        </label>
        <br><br>

        <label style="color:white ">Fecha ida

            <input type="date" id="ida" name="ida">
        </label>
        <br>
<br>
        <label style="color:white ">Fecha vuelta

            <input type="date" id="vuelta" name="vuelta">
        </label>
        <br><br>

        <label style="color:white ">Precio

            <input type="text" id="precio" name="precio">
        </label>
        <br><br>

        <label style="color:white ">Restricciones

            <input type="text" id="restricciones" name="restricciones">
        </label>
        <br><br>

        <label style="color:white ">Características del vuelo

            <input type="text" id="caracteristicas" name="caracteristicas">
        </label>
        <br><br>

        <label style="color:white ">Estado

            <select id="estado" name="estado" style="width:170px">
                <option value="tiempo">A tiempo</option>
                <option value="retrasado">Retrasado</option>
                <option value="cancelado">Cancelado</option>
            </select>

        </label>
        <br><br>

        <button class="btn btn-primary" type="submit"> Actualizar información</button>
</div>
</form>