{{#each errores}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
{{#each exito}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
<form action="/cliente/abordaje" method="POST">
<br>
<br>
<div  style="font-size:25" pxclass="home_title"><h2 style="color:black">Ingrese el número del vuelo</h2>
    <br>
    <br>
    <input  style="font-size:30px" type="text" name="vuelo" id="vuelo">
    <br>
    <br>
    <h2 style="color:black">Ingrese el número de cédula del pasajero</h2>
    <br>
    <br>
     <input style="font-size:30px" type="text" name="cedula" id="cedula">
     <br>
     <br>
    <button class="btn btn-primary" type="submit"> Mostrar</button>
</div>
</form>