<div  >
    <h1 class="display-4" > Boletos disponibles</h1>
    <br>
    <br>
    <div class="home_title"><h2>Seleccione los boletos que desea adquirir</h2>
    <br>
    <br>
    <form action="/cliente/boletos/seleccionar" method="GET">
		<button class="btn btn-secondary" type="submit"> Comprar</button>
    </form>
    <br>
    <br> 
    <HR class="my-4"></HR>
    <a href=""></a>
</div>