{{#each errores}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
{{#each exito}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
<form action="/cliente/checkin" method="POST">
<br>
<br>
<div  style="font-size:25" pxclass="home_title"><h2 style="color:black">Ingrese su número de identificación</h2>
    <br>
    <br>
    <input  style="font-size:30px" type="text" name="identificacion" id="identificacion">
    <br>
    <br>
    <h2 style="color:black">Ingrese el código de vuelo</h2>
    <br>
    <br>
    <input style="font-size:30px" type="text" name="codigo" id="codigo">
    <br>
    <br>
    <button class="btn btn-primary" type="submit"> Realizar check-in</button>
</div>
</form>