<br>
<br>
<form action="/cliente/elegirfiltro" method="POST">
    <br><br>
    <div class="home_title" style="font-size:15px"><h2 style="font-size:35px">Seleccione el filtro para mostrar los vuelos</h2>
        
        <br>
        <label style="color:white ">Filtro
            <br>
            <select style="width:320px;height:70px" type="text" id="filtro" name="filtro" style="width:180px">
                <option>Rango de fechas</option>
                <option>Estado</option>
            </select>
        </label>
        <br>
        <br>
        <button class="btn btn-primary" type="submit"> Seleccionar</button>
        <br><br>
    </div>
</form>