<br><br>
<form action="/cliente/fechas" method="post">
<div class="home_title"><h2 style="font-size:40px">Indique las fechas de vuelos</h2>
        <br>
        <br>
        <label style="color:white ">Fecha de salida
            <br>
            <input type="date" name="fechasalida" id="fechasalida">
        </label>
        <br>
        <br>
        <label style="color:white ">Fecha de entrada
            <br>
            <input type="date" name="fechaentrada" id="fechaentrada">
        </label>      
         <br>
        <br>
        
        <button class="btn btn-secondary" type="submit"> Buscar</button>
        
        
        <br>
        <br>
</div>
</form>