<br><br>
<form action="/cliente/estados" method="post">
<div class="home_title"><h2 style="font-size:40px">Indique el estado de vuelo</h2>
        <br>
        <br>
        <select type="text" id="estado" name="estado" style="width:180px">
                <option>A tiempo</option>
                <option>Restrasado</option>
                <option>Cancelado</option>
        </select>
        <br>
        <br>
        <button class="btn btn-secondary" type="submit"> Buscar</button>
        <br>
        <br>
</div>
</form>