{{#each errores}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
{{#each exito}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
<form action="/cliente/usuarios/crear">
<br>
<br>
<div class="home_title"><h2 style="font-size:40px">Ingrese los datos del cliente para registrarse</h2>
        <br>
        <br>
        <label style="color:white ">Número de cédula del cliente
            <br>
            <input type="text" name="cedula" id="cedula">
        </label>
        <br>
        <br>
        <label style="color:white ">Nombre del cliente
            <br>
            <input type="text" name="nombre" id="nombre">
        </label>
        <br>
        <br>
        <label style="color:white ">Fecha nacimiento
            <br>
            <input type="date" name="nacimiento" id="nacimiento">
        </label>
        <br>
        <br>
        <label style="color:white ">Nacionalidad
            <br>
            <input type="text" name="nacionalidad" id="nacionalidad">
        </label>
        <br>
        <br>
        <label style="color:white ">Lugar residencia
            <br>
            <input type="text" name="residencia" id="residencia">
        </label>
        <br>
        <br>
        <label style="color:white ">Teléfono 
            <br>
            <input type="text" name="telefono" id="telefono">
        </label>
        <br>
        <br>
        <label style="color:white ">Correo electrónico 
            <br>
            <input type="text" name="correo" id="correo">
        </label>
        <br>
        <br>
        <button class="btn btn-primary" type="submit"> Crear</button>
        <br>
        <br>
</div>
</form>