<form action="">
    <br><br>
    <div style="font-size:25" pxclass="home_title"><h2 style="color:black">Si selecciona el botón se eliminará el cliente</h2>
    
        <br>
        <br>
        <button class="btn btn-primary" type="submit"> Eliminar cliente </button>

</div>
</form>