<form action="/cliente/usuarioEliminar" method="POST">
    <br><br>
    <div style="font-size:25" pxclass="home_title"><h2 style="color:black">Si selecciona el botón se eliminará el usuario actual</h2>
        <br>
        <br>
        <button class="btn btn-secondary" type="submit"> Eliminar usuario </button>
</div>
</form>