<form action=""></form>
<br>
<br>
<div class="home_title"><h2 style="font-size:40px">Ingrese los datos del cliente para actualizar</h2>
        <br>
        <br>
        <label style="color:white ">Nombre cliente
            <br>
            <input type="text" name="nombre" id="nombre">
        </label>
        <br>
        <br>
        <label style="color:white ">Fecha nacimiento
            <br>
            <input type="date" name="nacimiento" id="nacimiento">
        </label>
        <br>
        <br>
        <label style="color:white ">Nacionalidad
            <br>
            <input type="text" name="nacionalidad" id="nacionalidad">
        </label>
        <br>
        <br>
        <label style="color:white ">Lugar residencia
            <br>
            <input type="text" name="residencia" id="residencia">
        </label>
        <br>
        <br>
        <label style="color:white ">Teléfono 
            <br>
            <input type="text" name="telefono" id="telefono">
        </label>
         <br>
        <br>
        <button class="btn btn-primary" type="submit"> Actualizar</button>
        <br>
        <br>
    </form>
</div>