{{#each correoEntrada}}
{{/each}}
<div class="jumbotrn mt-4" >
    <h1 class="display-4" > TEC Plane  Clientes</h1>
    <br>
    <br>
    <div class="home_title"><h2>Seleccione la acción que desea realizar</h2>
    <br>
    <br>
    <form action="/cliente/usuarios/consultar" method="GET">
		<button class="btn btn-secondary" type="submit"> Mostrar usuario</button>
    </form>
    <br>
    <br>
     <form action="/cliente/usuarios/actualizar" method="GET">
		<button class="btn btn-secondary" type="submit"> Actualizar usuario</button>
    </form>
    <br>
    <br>
    <form action="/cliente/usuarios/eliminar" method="GET">
		<button class="btn btn-secondary" type="submit"> Eliminar usuario</button>
    </form>
    <br>
    <br>
   
    <HR class="my-4"></HR>
    <a href=""></a>
</div>