<form action="">
<br>
<br>
<div  style="font-size:25" pxclass="home_title"><h2 style="color:black">Datos del usuario actual</h2>
    <br>
    <br>
    <button class="btn btn-primary" type="submit"> Mostrar datos</button>
</div>
</form>