{{#each errores}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
<form action="/cliente/usuarioActualizar" method="POST">
<br>
<br>
<div class="home_title"><h2 style="font-size:40px">Ingrese los datos del cliente para actualizar</h2>
      
        <label style="color:white ">Nombre cliente
            <br>
            <input type="text" name="nombre" id="nombre">
        </label>
        <br>
        <br>
        <label style="color:white ">Fecha nacimiento
            <br>
            <input type="date" name="nacimiento" id="nacimiento">
        </label>
        <br>
        <br>
        <label style="color:white ">Nacionalidad
            <br>
            <input type="text" name="nacionalidad" id="nacionalidad">
        </label>
        <br>
        <br>
        <label style="color:white ">Lugar residencia
            <br>
            <input type="text" name="residencia" id="residencia">
        </label>
        <br>
        <br>
        <label style="color:white ">Teléfono 
            <br>
            <input type="text" name="telefono" id="telefono">
        </label>
         <br>
        <br>
        <label style="color:white ">Correo 
            <br>
            <input type="text" name="correo" id="correo">
        </label>
         <br>
        <br>
        <button class="btn btn-secondary" type="submit"> Actualizar</button>
        <br>
        <br>
    </form>
</div>
</form>