<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TECPlane</title>
    <h1 class="display-4" >Bienvenido a TEC Plane</h1>
    <br>
    <br>
    <h1> Seleccione el módulo que desea Gestionar</h1>
    <br>
    <form action="/funcionario/check-in">
    <button class="btn btn-primary" type="submit"> Verificar Check-in</button>
    </form>
    <br>
    <br>
    <form action="/funcionario/abordaje">
    <button class="btn btn-primary" type="submit"> Realizar abordaje</button>
    </form>
    <br>
    <br>
    <form action="/funcionario/Consultarpasajero">
    <button class="btn btn-primary" type="submit"> Consultar pasajero</button>
    </form>
    <br>
    <br>
    <form action="/funcionario/reportes">
    <button class="btn btn-primary" type="submit">  Reportes</button>
    </form>
    <br>
    <br>
</head>
<body>
    
</body>
</html>