{{#each exito}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
{{#each errores}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TECPlane</title>
    <h1 class="display-4" >Bienvenido a TEC Plane</h1>
    <br>
    <br>
    <h1> Seleccione la acción que desea realizar</h1>
    <br>
    <form action="/cliente/usuarios" method="GET">
    <button class="btn btn-secondary" type="submit"> Gestionar usuario</button>
    </form>
    <br>
    <br>
    <form action="/cliente/boleto/filtro" method="GET">
    <button class="btn btn-secondary" type="submit"> Compra de boletos</button>
    </form>
    <br>
    <br>
    <form action="/cliente/checkin" method="GET">
    <button class="btn btn-secondary" type="submit"> Check in</button>
    </form>
    <br>
    <br>
    <form action="/cliente/reportes"method="GET">
    <button class="btn btn-secondary" type="submit">  Reportes</button>
    </form>
    <br>
    <br>
</head>
<body>
</body>
</html>