<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TECPlane</title>
    <h1 class="display-4" >Bienvenido a TEC Plane</h1>
    <br>
    <br>
    <h1> Seleccion el módulo que desea Gestionar</h1>
    <br>
    <form action="/administrador/aeropuerto">
    <button class="btn btn-primary" type="submit"> Gestionar Aeropuerto</button>
    </form>
    <br>
    <br>
    <form action="/administrador/aerolinea">
    <button class="btn btn-primary" type="submit"> Gestionar Aerolinea</button>
    </form>
    <br>
    <br>
    <form action="/administrador/funcionario">
    <button class="btn btn-primary" type="submit"> Gestionar Funcionario</button>
    </form>
    <br>
    <br>
    <form action="/administrador/vuelo">
    <button class="btn btn-primary" type="submit"> Gestionar Vuelo</button>
    </form>
    <br>
    <br>
    <form action="">
    <button class="btn btn-primary" type="submit">  Reportes</button>
    </form>
    <br>
    <br>
</head>
<body>
    
</body>
</html>