{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
<div class="jumbotrn mt-4">
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
            <a class="navbar-brand" href="#">Bienvenido a TECPlane</a>  
        </nav>
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/indexapp" method="POST">
                        <div class="form-group">
                                <input type="text" id="correo" name="correo" placeholder="Inserte el email" class="form-control">
                        </div>    
                        <div class="form-group">
                                <input type="password" id="contrase침a" name="contrase침a" placeholder="Inserte la contrase침a" class="form-control">
                        </div>
                        <div>
                            <button style="background-color: darkturquoise;" type="submit" class="btn btn-success btn-block">Iniciar Sesi칩n</button>
                        </div>
                        <div>
                            <a href="/register" style="background-color: gainsboro;" class="btn btn-primary btn-block">Registrarse (SOLO CLIENTES)</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</div>
<br><br>