<!DOCTYPE html>
<html lang="en">
<head>
{{#each correoUsuario}}
<form action="/cliente/indexCliente" method="POST">
<label style="color:white" value={{text}} name="correo" id="correo" >    
</label>

</form>
{{text}}
{{/each}}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TECPlane</title>
    <h1 class="display-4" >Bienvenido a TEC Plane</h1>
    <br>
    <br>
    <h1> Seleccione la acción que desea realizar</h1>
    <br>
    <form action="/cliente/usuarios" method="GET">
    <button class="btn btn-secondary" type="submit"> Gestionar usuario</button>
    </form>
    <br>
    <br>

    <form action="/cliente/boletos" method="GET">
    <button class="btn btn-secondary" type="submit"> Compra de boletos</button>
    </form>
    <br>
    <br>
    <form action="/cliente/checkin" method="GET">
    <button class="btn btn-secondary" type="submit"> Check in</button>
    </form>
    <br>
    <br>
    <form action="/cliente/abordaje"method="GET">
    <button class="btn btn-secondary" type="submit"> Abordaje</button>
    </form>
    <br>
    <br>
    <form action=""method="GET">
    <button class="btn btn-secondary" type="submit">  Reportes</button>
    </form>
    <br>
    <br>
</head>
<body>
</body>
</html>