<div class="jumbotrn mt-4" >
    <h1 class="display-4" > TEC Plane  Aerolinea</h1>
    <br>
    <br>
    <div class="home_title"><h2>Seleccione la operación que desea realizar</h2>
    <br>
    <br>
    <form action="/funcionario/reporte/pasajero" method="GET">
		<button class="btn btn-primary" type="submit"> Consultar Pasajero</button>
    </form>
    <br>
    <br>
    <form action="/funcionario/reporte/vuelos" method="GET">
		<button class="btn btn-primary" type="submit"> Mostrar vuelos registrados</button>
    </form>
    <br>
    <br>
    <HR class="my-4"></HR>
    <a href=""></a>
</div>
